<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.taobao.lego">
    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="18"  />


    <application >

        <activity
                android:name="com.taobao.storagespace.SpaceActivity"
                android:theme="@style/Theme.NoBackgroundAndTitle" >
        </activity>

        <activity
                android:name="com.taobao.tao.BundleNotFoundActivity"
                android:configChanges="keyboardHidden|orientation"
                android:exported="false"
                android:screenOrientation="portrait"
                android:theme="@style/Transparent_appcompat"
                android:windowSoftInputMode="adjustPan" >
        </activity>
        <service
                android:name="com.taobao.lightapk.BackgroundBundleGetService">
        </service>
        <receiver
                android:name="com.taobao.tao.applifetcycle.AtlasCrossActivityReceiver"
                android:exported="false" >
            <intent-filter android:priority="10">
                <action android:name="com.taobao.intent.action.APP_STATE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
